<% content_for :head do %>
	<%= render 'home/header' %>
<% end %>
<%= form_with model: [@article, @comment] do |form|%>
	<div>
		<%= form.label :body%>
		<%= form.text_field :body%>
	</div>
	<div>
		<%= form.submit%>
	</div>
<% end %>
