- if article.errors.any?
  - article.errors.each do |error|
    %p
      = error.full_message
= form_with model: article, class: '' do |form|
  = form.label :title
  = form.text_field :title, value: activity['activity']
  = form.label :content
  = form.text_area :content
  %fieldset
    = form.fields_for :article_categories do |f|
      .field
        = f.collection_select :category_id, Category.all, :id, :name, prompt: 'Select Category', selected: category_id
  %fieldset
    - advertisements.each_with_index do |ads, index|
      = form.fields_for :article_advertisements do |f|
        .field
          = f.check_box :advertisement_id, {}, ads.id, 0
          = f.label :advertisement_id, ads.name, class: ''
  = form.submit
