- if article.errors.any?
  - article.errors.each do |error|
    %p
      = error.full_message
= form_with model: article do |form|
  .mb-4
    = form.label :title, class: 'form-label fs-4 text-dark'
    - if article.title.nil?
      = form.text_field :title, class: 'form-control form-control-lg', value: activity
    - else 
      = form.text_field :title, class: 'form-control form-control-lg'
  .mb-5
    = form.label :content, class: 'form-label fs-4 text-dark'
    = form.text_area :content, class: 'form-control form-control-lg article-content'
  %fieldset
    = form.fields_for :article_categories do |f|
      .field.row.mb-4
        = f.label :category_id, 'Category', class: 'col-form-label col-sm-1 fs-4 text-dark'
        .col-md-4
          = f.collection_select :category_id, Category.all, :id, :name, {prompt: 'Select Category', selected: category_id}, {class: 'form-control form-control-lg'}
  %p.text-dark.fs-5
    Please check what type of ads you would like to display on your article (Leave empty if you don't want show any ads).
  %fieldset.mb-4.ms-5
    .row.mb-4
      - advertisements.each do |ads|
        = link_to_add_fields ads, form, :article_advertisements
    .ads-container.row
      = form.fields_for :article_advertisements do |article_advertisement|
        - if !article_advertisement.object.advertisement_id.blank?
          = render "article_advertisement_fields", f: article_advertisement, ads: article_advertisement.object.advertisement
  .actions    
    = form.submit 'Publish', class: 'btn btn-primary mb-5 fs-4 text-light'
