<h1>Hello from index page</h1>
<table class='table'>
	<thead>
		<tr>
			<th>Name</th>
			<th>Address</th>
			<th>Verified</th>
			<th colspan='3'>Actions</th>
		</tr>
	</thead>
	<tbody>
		<% @authors.each do |author| %>
			<tr>
				<td>
					<%= author.name %>
				</td>
				<td>
					<%= author.address %>
				</td>
				<% if author.is_verified %>
					<td>
						<%= author.date_verified %>
					</td>
				<% else %>
					<td>
						<%= link_to 'Verify', verify_author_path(author), method: :patch, data: {confirm: "Verify author #{author.name}?"}, class: 'link'%>
					</td>
				<% end %>
				<td>
					<%= link_to 'Show', author_path(author), class: 'link' %>
				</td>
				<td>
					<%= link_to 'Delete', author, method: :delete, data: {confirm: "Remove author #{author.name}?"}, class: 'link'%>
				</td>
				<td>
					<%= link_to 'Edit', edit_author_path(author), class: 'link' %>
				</td>
			</tr>
		<% end%>
	</tbody>
</table>
<button class='btn'>
	<%= link_to 'Create New Author', new_authors_path, class: 'link' %>
</button>
