%nav.navbar.navbar-expand-lg.navbar-light.bg-dark.mb-4
  .container.fs-5
    = link_to 'Activity Blog', root_path, class: 'navbar-brand text-light'
    %button.navbar-toggler{"aria-controls" => "navbarNavAltMarkup", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-bs-target" => "#navbarNavAltMarkup", "data-bs-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    #navbarNavAltMarkup.collapse.navbar-collapse
      .navbar-nav.me-auto
        = link_to 'Articles', articles_path, class: 'nav-link text-light'
        - if user_signed_in?
          = link_to 'My Articles', articles_owned_path, class: 'nav-link text-light'
        = link_to 'Authors', authors_path, class: 'nav-link text-light'
      .navbar-nav.ms-auto
        - if user_signed_in?
          = link_to 'Create Article', template_new_articles_path, class: 'nav-link btn btn-info text-white fs-5 me-2'
          %li.nav-item.dropdown
            %a#navbarDropdown.nav-link.text-light.dropdown-toggle{"aria-expanded" => "false", "data-bs-toggle" => "dropdown", :href => "#", :role => "button"}
              Account
            %ul.dropdown-menu.bg-dark.fs-5{"aria-labelledby" => "navbarDropdown"}
              %li
                = link_to 'Details', author_path(current_user.role_users.first.author), class: 'nav-link text-light'
              %li
                = link_to 'Log out', destroy_user_session_path, method: :delete, class: 'nav-link text-light'
        - else       
          = link_to 'Log in', new_user_session_path, class: 'nav-link text-light'


