<!DOCTYPE html>
<html>
	<head>
		<title>Blog</title>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<%= csrf_meta_tags %>
		<%= csp_meta_tag %>
		<%# <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
		<%= custom_javascript_packs %>
		<%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	</head>
	<body>
		<%= yield :head %>
		<%= yield :side%>
		<div class='container-xxl'>
			<% if notice%>
				<%= render 'layouts/alerts' %>
			<% end %>
			<div class='row'>
				<%= yield %>
				<div class='col-md-3'>
					<%= yield :advertisements%>
				</div>
			</div>
		</div>
	</body>
</html>
