<!DOCTYPE html>
<html>
	<head>
		<title>Blog</title>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<%= csrf_meta_tags %>
		<%= csp_meta_tag %>
		<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
		<%= custom_javascript_packs %>
	</head>
	<body>
		<%= params.to_json%>
		<%= yield %>
	</body>
</html>
